@font-face {
  font-family: 'San Francisco';
  font-weight: 400;
  font-style: normal;
  src: url('https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff');
}

@font-face {
  font-family: 'San Francisco';
  font-weight: 600;
  font-style: normal;
  src: url('https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.woff');
}
